{% extends "creator/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Intent</legend>
                <h2>Are you sure you want to delete the intent "{{ object.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" style="margin:5px;" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" style="margin:5px;" href="{% url 'intent-list' prim_key %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}