{% extends "creator/base.html" %}
{% block content %}

<h2>{{ object_list.0.chatbot.name }} Stories</h2>

{% for story in object_list %}

      <li class="list-group-item">
        <a href="{% url 'steps-list' story.id %}">{{ story.name }}</a><a class="btn btn-outline-danger ml-5 float-sm-end" href="{% url 'story-delete' story.id %}">Remove</a>
      </li>

{% endfor %}
<div class="form-group">
    <a class="btn btn-primary mt-3 mb-1" href="{% url 'story-update' prim_key %}">Update</a>
    <a class="btn btn-primary mt-3 mb-1 ml-3" href="{% url 'story-create' prim_key %}">Add</a>
    <a class="btn btn-primary mt-3 mb-1 ml-3" href="{% url 'chatbot-detail' prim_key %}">Back</a>
</div>
{% endblock content %}